.text-intchecked {
  background-color: rgb(23, 147, 8, 1);
  color: rgb(255, 255, 255);
  transition: 500ms;
  -webkit-transition: 500ms;
}

.text-ctachecked {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  transition: 500ms;
  -webkit-transition: 500ms;
}

.text-ctaETcompared {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  transition: 200ms;
  -webkit-transition: 2000ms;
}

.text-intETcompared {
  background-color: rgb(23, 147, 8, 1);
  color: rgb(255, 255, 255);
  transition: 200ms;
  -webkit-transition: 300ms;
}

.text-liteColor {
  background-color: rgb(255, 0, 0, 1);
  color: rgb(255, 255, 255);
  transition: 500ms;
  -webkit-transition: 500ms;
}
